<div class="product-details">
  <span class="title" itemprop="name">{{ product.title }}</span>
  

  {% if settings.enable_shopify_collection_badges %}
    <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
  {% endif %}
  
  {% if collection_handles contains 'coming-soon' %}
    <span class="coming-soon">{{ 'collections.general.coming_soon' | t }}</span>
  {% else %}
    <span class="price {% if product.compare_at_price_max > product.price %}sale{% endif %}">
      {% unless product.available == false and settings.display_price == false %}
      	{% comment %}
      	<span class="btn-learn-more">
          Learn more <img src="{{ 'green-arrow.png' | img_url: '15x' }}" alt="right arrow icon" />
      	</span>
      	{% endcomment %}
      
      	<span class="btn-learn-more">
          Learn more <img width="27" src="{{ 'green-arrow.png' | asset_url }}" alt="search icon">
      	</span>
      
      
      
        {% assign variant = product.selected_or_first_available_variant %}
        <span class="was_price">
          {% if variant.price < variant.compare_at_price %}
            <span class="money">{{ variant.compare_at_price | money }}</span>
          {% endif %}
        </span>
      {% endunless %}
      <div class="sold-out">
        {% unless product.available %}
          {{ settings.sold_out_text }}
        {% endunless %}
      </div>
    </span>
  
  	
  {% endif %}
</div>
